.k-ripple {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
  opacity: 0;
  transform-origin: center center;
  transform: scale(0) translate(-50%, -50%);
  transition-property: opacity, transform;
  transition-duration: .21s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & > svg {
    width: 20px !important;
    height: 20px !important;
  }
}