@for $i from 0 through 15 {
  .text-size-#{$i * 2 + 12} {
    font-size: 12px + $i * 2;
  }
}

.text-h1 {
  font-size: 6rem ;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -0.015625em ;
  text-transform: none ;
}

.text-h2 {
  font-size: 3.75rem ;
  font-weight: 300;
  line-height: 3.75rem;
  letter-spacing: -0.0083333333em ;
  text-transform: none ;
}
.text-h3 {
  font-size: 3rem ;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: normal ;
  text-transform: none ;
}
.text-h4 {
  font-size: 2.125rem ;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0073529412em ;
    text-transform: none ;
}
.text-h5 {
  font-size: 1.5rem ;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: normal ;
    text-transform: none ;
}
.text-h6 {
  font-size: 1.25rem ;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em ;
    text-transform: none ;
}
.text-subtitle-1 {
  font-size: 1rem ;
  font-weight: normal;
  line-height: 1.75rem;
  letter-spacing: 0.009375em;
    text-transform: none ;
}
.text-subtitle-2 {
  font-size: 0.875rem ;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0.0071428571em ;
    text-transform: none ;
}
.text-body-1 {
  font-size: 1rem ;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03125em ;
    text-transform: none ;
}
.text-body-2 {
  font-size: 0.875rem ;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0178571429em ;
    text-transform: none ;
}
.text-button {
  font-size: 0.875rem ;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0.0892857143em ;
    text-transform: uppercase ;
}
.text-caption {
  font-size: 0.75rem ;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0333333333em ;
    text-transform: none ;
}
.text-overline {
  font-size: 0.75rem ;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.1666666667em ;
    text-transform: uppercase ;
}
.text-decoration-none {
  text-decoration: none;
}
.text-decoration-line-through {
  text-decoration: line-through;
}
.text-decoration-overline {
  text-decoration: overline;
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-no-wrap {
  white-space: nowrap;
}
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
