:root {
  --theme-errorcolor: rgba(251, 18, 61, 1);
  --theme-successcolor: rgba(42, 242, 112, 1);
  --theme-infocolor: rgba(40, 118, 244, 1);
  --theme-warncolor: rgba(246, 154, 33, 1);
  --theme-dark-scrollbar: rgba(154, 154, 154, 0.3);
  --theme-dark-scrollbar-hover: rgba(154, 154, 154, .6);
  --theme-dark-bgcolor: rgba(30, 31, 34, 1);
  --theme-dark-textcolor: rgb(239, 230, 232);
  --theme-dark-titlecolor: rgba(252, 252, 252, 1);
  --theme-dark-shadowcolor: rgba(255, 247, 254, 1);
  --theme-dark-btncolor: rgba(27, 25, 30, 1);
  --theme-dark-activecolor: rgba(45, 141, 249, 1);
  --theme-dark-themecolor: rgb(38, 37, 38);
  --theme-light-bgcolor: rgb(255, 255, 255);
  --theme-light-textcolor: rgb(34, 26, 28);
  --theme-light-titlecolor: rgba(18, 16, 17, 1);
  --theme-light-shadowcolor: rgb(168, 143, 192);
  --theme-light-btncolor: rgba(99, 62, 249, 1);
  --theme-light-activecolor: rgba(45, 141, 249, 1);
  --theme-light-themecolor: rgb(255 228 228);
  --btn-hover-opacity: .06;
  --btn-ripple-opacity: .12;
}